
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/global.css" />

    <meta property="og:title" content="Empresas que apoiam Bolsonaro">
    <meta property="og:site_name" content="Empresas que apoiam Bolsonaro">
    <meta property="og:url" content="https://empresas-que-apoiam-bolsonaro.com">
    <meta property="og:description" content="Empresas que se apoiam Jair Bolsonaro diretamente ou através de seus acionistas majoritários, a maioria delas associada ao Instituto Brasil 200">
    <meta property="og:type" content="website">
    <meta name="monetization" content="$coil.xrptipbot.com/d8OkU_FdRMuSFJ2w8ac5Sw">
  </head>
  <body>
    <main>
      <article>
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </article>
    </main>
    <footer role="contentinfo" class="[ site-foot ] [ pad-bottom-900 ]">
      Um projeto por <a href="//twitter.com/vhfmag">Victor Magalhães</a>, baseado em um projeto por <a href="//twitter.com/hankchizljaw">Andy Bell</a>.
    </footer>
  </body>
</html>

